nav {
    display: flex;
    background-color: rgba(193, 193, 193, 85%);
    font-family: 'Work Sans', sans-serif;
}

nav * {
    box-sizing: border-box;
}

a {
    color: black;
    text-decoration: none;
    display: inline-block;
    padding: 0.5em;
}

a:hover {
    color: blue;
}

section:first-of-type {

}
section:nth-of-type(2) {

}
section:last-of-type {

}